---
import Layout from "../layouts/Layout.astro";
import WeatherCard from "../components/WeatherCard.astro";
---

<Layout title="Astro API Request">
	<h1><span class="text-gradient">Astro</span> API Request</h1>
	<p>
		This page is a demo project and template for a development of a Astro
		project, which accesses an external API and caches the result in a
		cache.
	</p>
	<p>This comes with a responsive template using Bootstrap.</p>
	<WeatherCard city="Stuttgart" />
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}
</style>
